<%= form_with(model: campaign, class: "contents") do |form| %>
  <%= render "devise/shared/error_messages", resource: campaign %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :emails %>
    <%= form.text_area :emails, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :message %>
    <%= form.text_area :message, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="">
    <%= form.submit "Create and Send DM's ✉️", class: "rounded-lg py-2 px-4 bg-indigo-500 text-white block font-medium cursor-pointer" %>
  </div>
<% end %>
