<div class="flex flex-col space-y-3">
  <h2 class="text-3xl">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="space-y-3">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-gray-300 rounded" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "border-gray-300 rounded" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border-gray-300 rounded" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "bg-blue-600 text-white px-3 py-2 rounded cursor-pointer" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
