<div class="flex flex-col space-y-3">
  <h2 class="text-3xl">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-3">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-gray-300 rounded" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border-gray-300 rounded" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class: "bg-blue-600 text-white px-3 py-2 rounded cursor-pointer" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
